body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select:   none;
    -o-user-select:     none;
    user-select:        none;

    font-size: 14px;
}

h1 {
    font-size: 2.25em;
    text-align: center;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 1.75em;
    padding: 0;
    margin: 1em;
}

img {
  margin: 1em auto 3em;
  display: block;
  max-width: 90%;
  max-height: calc(30vh - 6em);
}

p {
    font-size: 1.5em;
}

button {
    padding: 1em;
}

.hidden {
    display: none;
}
